<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Misty Fan</title>
    <meta name="author" content="Misty Fan">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Misty Fan professional website">
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Misty Fan</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html" class="active">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
            <a href="javascript:void(0);" class="icon" >
                <i class="fa fa-bars"></i>
            </a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="main">
        <h2 id="greeting">Hi, my name is Misty!</h2>
        <img class="classA" src="../static/Misty Fan_Original.jpg"
        alt="Misty Xiwen Fan profile image"
        width="300px">
        <div class="classA">
            <span id="shortIntro">My name is Misty Fan, and I am a first-year student at Carnegie Mellon University studying Information Systems with a plan to additionally minor in Artificial Intelligence and Chinese language. In my free time, I love to dance, play my viola, read, or spend time with my friends and family. I was born and raised in Pittsburgh, Pennsylvania and grew up in a suburb around 30 minutes away from CMU’s campus.</span>
            <span id="readMore"> read more ...</span>
            <span id="longIntro">In high school, I was the founder of multiple clubs, notably the K-Pop Club and the Asian-American Pacific Islander (AAPI) Club, and I also led the Intramural Dance Club and was captain of the girls’ fencing team. In the past, I also dabbled in swimming, basketball, and competitive dance. Currently, I still do dance and am an active member of CMU’s KPDC (K-Pop Dance Club) and Helix Dance Crew. I also enjoy embracing my Chinese culture in the Awareness in Roots of Chinese Culture (ARCC) Club, along with exploring innovative ideas in AI and Human-Computer Interaction in CMU’s Undergraduate AI Mentorship Program and UXA Design Club.  I am creative, always willing to learn more, and passionate. I will give 100% into any job that I am given.</span>
            <span id="readLess"> read less</span>
        </div>
    </div>
    <footer>
        <p id="copyYear">
            Misty Fan &copy;
        </p>
    </footer>
</body>
</html>